*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

html,body{
    width: 100%;
    /* cursor: none; */
    height: 100%;
}
body::-webkit-scrollbar{
    display: block;
    width: 15px;
    background-color: #000;
}
body::-webkit-scrollbar-thumb{
    background-color: #95C11E;
    border-radius: 10px;
}
*::selection{
    background-color: white;
    color: #000;
}
#cursor{
     height: 25px;
     width: 25px;
     border-radius: 50%;
     background-color: #95C11E;
     position: fixed;
     z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #aee025;
    position: fixed;
    z-index: 9  ;
    transition: 1s ease;
    filter: blur(150px);
}
#nav{
    height: 140px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 55px;
    padding: 0 145px;
    position: fixed;
    z-index: 99;
    
}

#nav img{
    height: 75px; 
}

#nav h4{
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:hover{
color: #95C11E;
}
video{
    width: 100%;
    height: 100%;
    z-index: -3;
    object-fit: cover;
    position: fixed;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);

}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 120px;
    font-weight: 900;
    position: relative;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    color: black;
    -webkit-text-stroke: 2px #95C11E;
    position: absolute;
    top: -6px;
    left: -6px;
    z-index: -1;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 20px;
    font-weight: 400;
    width: 40%;
}
#arrow{
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background-color: transparent;
    position: absolute;
    border: 3px solid #95C11E;
    left: -50px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
}
#arrow i{
    font-size: 50px;
}

#arrow:hover{
    scale: 0.3;
    background-color: #95C11E;
    border: 2px solid #fff;
    
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
    
}
#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: 2px #95C11E;
    margin-right: 25px;
    transition: all linear 0.5s;
    color: transparent;
}
#scroller h4:hover{
    color: #95C11E;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);

    }
}

#about-us{
    height: 40vh;
    margin-top: 70px;
    width: 100%;
    /* background-color: #95C11E; */
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;
    text-align: center;
    justify-content: space-around ;
    margin-bottom: 100px;
    
}

#about-us img{
    width: 200px;
    height: 200px;
    border-radius: 5% ;
    background-size: cover;
}

#about-us-in{
    width: 50%;
}
#about-us-in h3{
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 30px;
}
#about-us-in p{
    font-size: 17.7px;
    line-height:40px;
    margin-bottom: 20px;
}
#card-container{
    height: 70vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    position: relative;
    z-index: 10;
}
.card{
    height: 82%;
    width: 25%;
    border-radius: 20px;
    background-size: cover;
    position: relative;
    background-position: center;
    /* background-color: antiquewhite; */
    transition: all ease 0.6s;
    overflow: hidden;

}
#card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
  #card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
  #card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }

.content{
    height: 100%;
    opacity: 0;
    width: 100%;
    border-radius: 20px;
    padding: 110px 20px 20px 40px;
    position: absolute;
    background-color:#95C11E ;
    transition: all ease 0.5s;
}

.content h4{
    color: #111;
    font-size: 36px;
    margin-bottom: 20px;
}
.content p{
    color: #111;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.content-line{
    padding-bottom:20px;
}
.card .content:hover{
    opacity: 1;
}

.card #right-arrow:hover{
    scale: 1.2;
    background-color: #fff;
}
/* .card:hover{
    transform: rotate3d(1,-1,0,20deg);
} */
.green-card{
    height: 35vh;
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: rgb(176,228,35);
background: linear-gradient(90deg, rgba(176,228,35,1) 17%, rgba(101,194,45,1) 51%, rgba(176,228,35,1) 87%);
    position: relative;
    z-index: 10;
}
.green-card img{
    max-height: 100%;
    object-fit: cover;
    width: 10%;
}
.flip-img{
    transform: scaleX(-1);
}
.green-card h4{
    font-size: 30px;
    font-weight: 800;
    color: #000;
    width: 45%;
    text-align: center;
}


#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
#page3>p{
    width: 60%;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

#page3 img{
    height: 60px;
    position: relative;
}
#page3 #colon1{
    top:-22%;
}
#page3 #colon2{
    bottom:-22%;
}
#page4{
    height: 30vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    
}
.elem{
    height: 70%;
    width: 25%;
    border-radius: 20px;
    overflow: hidden ;
    position: relative;
}
.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    color: #000;
    transition: all ease 0.5s;
    font-weight: 800;
    position: absolute;
    z-index: 10;
}
.elem img{
    height: 100%;
    width: 100%;
    scale: 1.2;
    object-fit: cover;
    transition: all ease 0.5s;
}

.elem:hover h2{
    color: #fff;
    background-color: transparent;
}
.elem:hover img{
    scale: 1;
}
.elem:hover #page4>h1{
    color: #95C11E;
}
#page4 h1{
    font-size: 85px;
    position: absolute;
    top: -18%;
    left: 100PX;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color:#000;
    -webkit-text-stroke: 2px #fff;
}

#footer{
    height: 40vh;
    margin-top: 100px;
    width: 100%;
    background: rgb(176,228,35);
    background: linear-gradient(90deg, rgba(176,228,35,1) 17%, rgba(101,194,45,1) 51%, rgba(176,228,35,1) 87%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 6.5vw;
  padding: 0 100px;
}

#footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }

#f1 img{
    height: 100px;
}

#f1,#f2,#f3,#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  /* background-color: red; */
}
#f2 h4 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  } 
  
  #f3 h4 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    width: 20%;
    margin-bottom: 8px;
  }

#right-arrow{
    height: 120px;
    width: 120px;
    border: #000 3px solid;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8%;
    right: -8%;
    transition: all ease 0.3s;
}
#right-arrow i{
    font-size: 40px;
    color: #000;
    
}